* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Remove default outlines from inputs */
input:focus {
  outline: none;
}

/* Loading Image */
.spinning {
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Hourly temps display as scroll on Tablet and Mobile*/
@media screen and (max-width: 800px) {
  .hourly {
    width: 100%;
    overflow-x: scroll;
  }
}